* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
body{
    margin: 0%;
}
.active{
    color: black;
}
.auth{
    position: absolute;
    background-color: cornflowerblue;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.loginField{
    background-color: whitesmoke;
    margin: 5% 23%;
    width: 50%;
    height: auto;
    padding: 2%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.loginForm{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.formLabel{
    font-size: 0.9em;
    display: block;
    margin: 0%;
}
.formInput{
    display: block;
    margin: 0% 25% 3%;
    width: 50%;
}
.formButton{
    background-color: transparent;
    cursor: pointer;
    margin: 5%;
    width: 18%;
    font-size: 1em;
}
.formButton:hover{
    background-color: cornflowerblue;
    color: white;
}
.signinSwitch{
    display: block;
    text-decoration: underline;
    cursor: pointer;
    margin: auto;
    width: 30%;
}
.generateCredentials{
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    margin: auto;
    width: 31%;
    text-align: center;
}
.sideBar{
    display: none;
}
.navigationBar{
    position: relative;
    width: 100%;
    height: 4em;
    background-color: cornflowerblue;
    box-sizing: border-box;
}
.appTitle{
    display: flex;
    float: left;
    margin-left: 2%;
    line-height: 1;
}
.navigationLinks{
    list-style: none;
    flex-direction: row;
    margin: auto;
    float: right;
    display: flex;
}
.navigationPages{
    color: white;
    display: inline-block;
    margin: 1em;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
}
.navigationPages:hover{
    color: black;
}
.sideBarButton{
    display: none;
}
.sideBarButton span{
    display: block;
    width: 2.5em;
    height: 3.5em;
    background: black;
    margin: 3px;
}
.logoutButton {
    background-color: transparent;
    border: none;
    margin: 0%;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    line-height: 1;
}
.logoutButton:hover {
    color: black;
}
.logoutButton:focus{
    color: black
}
.errorMessage{
    font-size: 1em;
    color: #ff4d4d;
}
.loadingMessage{
    font-size: 1em;
    color:rgba(0, 0, 0, 0.5);
}
.generateMessage{
    display: block;
}
.reminderMessage {
    color: red;
    display: block;
    font-style: oblique;
    font-size: 0.9em;
}
@keyframes popup {
    0% {
        scale: 0%;
    }
    100% {
        scale: 100%;
    }
}
.modal {
    font-size: 1em;
    animation: popup 0.25s ease-out;
    width: 40%;
    height: 9em;
    z-index: 10;
    position: absolute;
    background-color: rgba(30, 144, 255, 1);
    border: 2px solid black;
    top: 10vh;
    left: 30%;
    right: 30%;
    box-sizing: border-box;
    color: white;
}
.modalButton {
    background-color: cornflowerblue;
    cursor: pointer;
    color: white;
    margin: 1%;
}
.modalButton:hover {
    background-color: white;
    color: black;
}
.goBackHome {
    background-color: transparent;
    cursor: pointer;
}
.generate{
    box-sizing: border-box;
}
#numberInput{
    font-size: 90%;
    font-weight: bold;
    width: 20%;
    height: 2em;
    margin: 1.5%;
    text-overflow: ellipsis;
}
@keyframes sidebarshift {
    0% {
        translate: -300px;
    }
    100% {
        translate: 0px;
    }
}
@media screen and (max-width: 600px) {
    #numberInput{
        width: 50%;
        margin: auto;
        display: block;
    }
    .loginField {
        width: 80%;
        height: auto;
        overflow: auto;
        margin: auto;
        margin-top: 10%;
    }
    .formButton{
        width: 30%;
    }
    .appTitle{
        margin: auto;
        line-height: 1.5;
        display: flex;
        float: left;
        text-align: center;
        margin-left: 0.10em;
    }
    .navigationBar{
        height: 2.5em;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .navigationLinks{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .sideBarButton{
        width: 4em;
        height: 2.5em;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        float: right;
        margin: auto;
    }
    .sideBar{
        animation: sidebarshift 0.25s ease-out;
        display: block;
        background-color:royalblue;
        width: 50%;
        height: 100vh;
        z-index: 5;
        position: absolute;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
    .sideBarLinks{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .sideBarPages{
        margin: 10%;
    }
}
.gen{
    background-color: rgba(210, 95, 95, 0.70);
    cursor: pointer;
    margin: 0.5%;
    border-radius: 0.5em;
    display: inline-block;
}
.NumContainer{
    margin: auto;
    width: 80%;
}
.num{
    color: white;
    font-size: 3em;
    display: inline-block;
    line-height: 2;
    margin: 0.1%;
    width: 2em;
    height: 2em;
}
.col{
    color: white;
    font-size: 1em;
    display: inline-block;
    line-height: 5.5;
    margin: 0.1%;
    width: 6em;
    height: 6em;
}
.generatedHeader{
    margin: 0.25%
}
.colorCode{
    font-size: 1em;
    margin: 0;
}
#redNumber{
    color: #ff4d4d;
}
#greenNumber{
    color: #4da64d;
}
#yellowNumber{
    color: #ffff40;
}
.subscription{
    background-color:rgba(30, 144, 255, 0.25);
    padding: 2%;
    box-sizing: border-box;
}
p{
    font-size: 1.5em;
}
.personalInfo{
    margin: 0.5%;
    border-radius: 0.5em;
    width: 25%;
    height: 1.5em;
    font-size: 1em;
}
.sub{
    display: block;
    z-index: 3;
    margin: auto;
    margin-top: 2.5%;
    background-color:rgba(210, 95, 95, 0.75);
    border-radius: 0.5em;
    font-size: 70%;
    width: 20%;
    height: 3em;
    overflow: hidden;
    cursor: pointer;
}